# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
db.sqlite3
*.log
local_settings.py
db.sqlite3-journal
media/
staticfiles/

# Secrets
.env

# OS
.DS_Store
Thumbs.db
